---
# This is a sample inventory file.
# Copy this to hosts.yml and fill in your actual host details.
all:
  hosts:
    primary01:
      ansible_host: your primary DNS host IP
      ansible_user: user for this host
    secondary01:
      ansible_host: your secondary DNS host IP
      ansible_user: user for this host
    syslog01:
      ansible_host: your syslog host IP
      ansible_user: user for this host
    node1:
      ansible_host: your node host IP
    node2:
      ansible_host: your node host IP
  children:
    dns_primary:
      hosts:
        primary01:
    dns_secondary:
      hosts:
        secondary01:
    syslog:
      hosts:
        syslog01:
    dhcp:
      hosts:
        secondary01:
    proxmox:
      vars:
        ansible_user: User for all proxmox hosts
      hosts:
        node1:
        node2:
    node_exporter:
      hosts:
        node1:
          node_exporter_args:
            - '--no-collector.schedstat'
            - '--no-collector.netstat'
            - '--no-collector.sockstat'
            - '--no-collector.softnet'
            - '--no-collector.udp_queues'
            - '--no-collector.systemd'
        node2:
          node_exporter_args:
            - '--no-collector.schedstat'
            - '--no-collector.netstat'
            - '--no-collector.sockstat'
            - '--no-collector.softnet'
            - '--no-collector.udp_queues'
            - '--no-collector.systemd'
        rpi1: # raspberry pi os
          node_exporter_args:
            - '--no-collector.schedstat'
            - '--no-collector.netstat'
            - '--no-collector.sockstat'
            - '--no-collector.softnet'
            - '--no-collector.udp_queues'
            - '--no-collector.systemd'
            - '--no-collector.btrfs'
            - '--no-collector.edac'
            - '--no-collector.nfs'
            - '--no-collector.nvme'
            - '--no-collector.selinux'
            - '--no-collector.xfs'
        rpi2: # ubuntu on raspberry pi
          node_exporter_args:
            - '--no-collector.schedstat'
            - '--no-collector.netstat'
            - '--no-collector.sockstat'
            - '--no-collector.softnet'
            - '--no-collector.udp_queues'
            - '--no-collector.systemd'
            - '--no-collector.btrfs'
            - '--no-collector.edac'
            - '--no-collector.mdadm'
            - '--no-collector.nvme'
            - '--no-collector.selinux'
            - '--no-collector.xfs'
