{
  "identities": [
    {
      "name": "{{ seaweedfs_s3_identity_name }}",
      "credentials": [
        {
          "accessKey": "{{ seaweedfs_s3_access_key }}",
          "secretKey": "{{ seaweedfs_s3_secret_key }}"
        }
      ],
      "actions": ["Admin", "Read", "Write", "List", "Tagging"]
    }
{%- for identity in seaweedfs_s3_extra_identities %},
    {
      "name": "{{ identity.name }}",
      "credentials": [
        {
          "accessKey": "{{ identity.access_key }}",
          "secretKey": "{{ identity.secret_key }}"
        }
      ],
      "actions": {{ identity.actions | to_json }}
    }
{%- endfor %}
{%- if seaweedfs_public_buckets | length > 0 %},
    {
      "name": "anonymous",
      "actions": [{% for bucket in seaweedfs_public_buckets %}"Read:{{ bucket }}"{% if not loop.last %}, {% endif %}{% endfor %}]
    }
{%- endif %}
  ]
}
