HERMES_DASHBOARD_PUBLIC_URL={{ hermes_dashboard_public_url }}
HERMES_DASHBOARD_BASIC_AUTH_USERNAME={{ hermes_dashboard_username }}
HERMES_DASHBOARD_BASIC_AUTH_PASSWORD_HASH={{ hermes_dashboard_password_hash }}
HERMES_DASHBOARD_BASIC_AUTH_SECRET={{ hermes_dashboard_session_secret }}
