kubeProxyReplacement: true
k8sServiceHost: {{ requiredEnv "K0S_CONTROLLER_ADDRESS" }}
k8sServicePort: 6443
l2announcements:
  enabled: true
externalIPs:
  enabled: true
ingressController:
  enabled: true
  loadbalancerMode: dedicated
operator:
  replicas: 1
