engines:
  replicated:
    mayastor:
      enabled: false
  local:
    zfs:
      enabled: false
    lvm:
      enabled: false
loki:
  enabled: false
alloy:
  enabled: false
localpv-provisioner:
  hostpathClass:
    isDefaultClass: {{ eq (env "K0S_DEFAULT_STORAGE_CLASS") "openebs-hostpath" }}
    basePath: "/srv/storage/volume"
