export K0S_SSH_USER=username
export K0S_CONTROLLER_ADDRESS=192.168.y.11
export K0S_WORKER_ADDRESS=192.168.y.12
export K0S_CLUSTER_NAME=prf-cluster name
export K0S_LB_POOL_START=192.168.y.100
export K0S_LB_POOL_STOP=192.168.y.200
