{{- $storageProviders := env "K0S_STORAGE_PROVIDERS" | default "openebs" | splitList "," }}
{{- $gpuEnabled := ne (env "K0S_GPU_WORKER_ADDRESSES") "" }}

repositories:
  {{- if has "openebs" $storageProviders }}
  - name: openebs
    url: https://openebs.github.io/openebs
  {{- end }}
  {{- if has "nfs" $storageProviders }}
  - name: csi-driver-nfs
    url: https://raw.githubusercontent.com/kubernetes-csi/csi-driver-nfs/master/charts
  {{- end }}
  {{- if $gpuEnabled }}
  - name: amd-gpu
    url: https://rocm.github.io/k8s-device-plugin
  {{- end }}

releases:
  - name: cilium
    namespace: kube-system
    chart: oci://quay.io/cilium/charts/cilium
    version: 1.20.1
    values:
      - values/cilium.yaml.gotmpl

  {{- if has "openebs" $storageProviders }}
  - name: openebs
    namespace: openebs
    createNamespace: true
    chart: openebs/openebs
    version: 4.6.0
    values:
      - values/openebs.yaml.gotmpl
  {{- end }}

  {{- if has "nfs" $storageProviders }}
  - name: csi-driver-nfs
    namespace: kube-system
    chart: csi-driver-nfs/csi-driver-nfs
    version: 4.13.4
    values:
      - values/nfs.yaml.gotmpl
  {{- end }}

  {{- if $gpuEnabled }}
  - name: amd-gpu-device-plugin
    namespace: kube-system
    chart: amd-gpu/amd-gpu
    version: 0.22.0
    values:
      - values/amd-device-plugin.yaml
  {{- end }}

  - name: cilium-config
    namespace: kube-system
    chart: ./charts/cilium-config
    needs:
      - kube-system/cilium
    hooks:
      - events: ["presync"]
        command: "bash"
        args:
          - ./scripts/wait-cilium-crds.sh
    values:
      - values/cilium-config.yaml.gotmpl
