[Unit]
Description=NetBox PostgreSQL
After=network-online.target
Wants=network-online.target

[Container]
ContainerName={{ netbox_pg_container }}
Image={{ netbox_pg_image }}
Network={{ netbox_network }}.network
EnvironmentFile={{ netbox_pg_env_file }}
Volume={{ netbox_pg_data_dir }}:/var/lib/postgresql
HealthCmd=pg_isready -q -t 2 -d {{ netbox_db_name }} -U {{ netbox_db_user }}
HealthInterval=10s
HealthRetries=5
HealthStartPeriod=20s
HealthTimeout=30s

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
