[defaults]
inventory      = ./inventories/homelab/hosts.yaml
roles_path     = ./roles
retry_files_enabled = False
host_key_checking = False
remote_tmp     = /tmp/.ansible/tmp
allow_world_readable_tmpfiles = true
vars_plugins_enabled = host_group_vars,community.sops.sops
