[defaults]
inventory      = ./inventories/homelab/hosts.yaml
roles_path     = ./roles
collections_path = ./collections
retry_files_enabled = False
host_key_checking = False
vars_plugins_enabled = host_group_vars,community.sops.sops

[ssh_connection]
pipelining = True
