[Unit]
Description=Authelia web authentication
After=network-online.target lldap.service
Wants=network-online.target

[Container]
ContainerName={{ authelia_container }}
Image={{ authelia_image }}:{{ authelia_version }}
Environment=AUTHELIA_SESSION_SECRET_FILE=/secrets/session_secret
Environment=AUTHELIA_STORAGE_ENCRYPTION_KEY_FILE=/secrets/storage_encryption_key
Environment=AUTHELIA_IDENTITY_VALIDATION_RESET_PASSWORD_JWT_SECRET_FILE=/secrets/reset_password_jwt_secret
Environment=AUTHELIA_AUTHENTICATION_BACKEND_LDAP_PASSWORD_FILE=/secrets/ldap_password
Volume={{ authelia_config_dir }}:/config
Volume={{ authelia_secrets_dir }}:/secrets:ro
Volume={{ authelia_base_dir }}/ldap.crt:/certs/ldap.crt:ro
PublishPort={{ authelia_http_port }}:9091

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
